.img-container {
    width: 95%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}