/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;500;800&display=swap');

.img-container {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: .25rem .25rem 0px 0px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

.hr {
    height: 1px; 
    color: #fff; 
    background-color: black; 
    border: none; 
    margin-top: 5px; 
    margin-bottom: 1px;
}

body {
    font-family: 'Karla';
    scroll-behavior: smooth;
}

.btn-primary{
    background-color: #5cc7b2;
    border: .5px #5cc7b2 solid;
}

.btn-primary:hover {
    background-color: #52b19e;
    border: .5px #52b19e solid;
}

.font-karla {
    font-family: 'Karla';
    font-weight: 300;
    font-size: 34px;
    line-height: 48px;
}

.font-karla-normal {
    font-family: 'Karla';
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
}

.font-karla-heavy {
    font-family: 'Karla';
    font-weight: 800;
    font-size: 60px;
    line-height: 76px;
}

@media screen and (max-width: 990px) { 
    .font-karla {
        font-size: 24px;
        line-height: 28px;
    }

    .font-karla-heavy {
        font-size: 30px;
        line-height: 34px;
    }

    .font-karla-normal {
        font-size: 18px;
        line-height: 24px;
    }
}